.app {
  overflow: hidden;
  display: grid;
  grid-template:
    "player script" 40vh
    "toolbar toolbar"
    "timeline timeline" 2fr
    / minmax(0, 1fr) minmax(0, 1fr);
  height: 100vh;
  --player-time: 0;
}
.app--long-script {
  grid-template:
    "player script" 40vh
    "toolbar script" auto
    "timeline script" 2fr
    / minmax(0, 1fr) minmax(0, 1fr);
}
.toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-900);
}
