.app {
  overflow: hidden;
  display: grid;
  grid-template:
    "player details" 50vh
    "toolbar toolbar"
    "timeline timeline" 2fr
    / 50vw 50vw;
  height: 100vh;
  --player-time: 0;
}
.toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-900);
}
