.cue-editor {
  display: flex;
  flex-direction: column;
  border-left: 0.5rem solid var(--color-primary);
  background-color: var(--gray-900);
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 0.5rem;
  cursor: text;
}
.cue-editor--is-selected {
  background-color: var(--blue-900);
}
.cue-editor:focus-within {
  border-left-color: var(--color-focus);
}
.cue-editor__textarea {
  min-height: 1rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
.cue-editor__textarea:focus {
  box-shadow: none;
}
.cue-editor__textarea:focus::placeholder {
  color: transparent;
}
.cue-editor__footer {
  user-select: none;
  opacity: 0.5;
}
