.cue-editor {
  display: flex;
  flex-direction: column;
  border-left: 0.5rem solid var(--blue-500);
  background-color: var(--color-darken);
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 0.5rem;
  cursor: text;
  position: relative;
}
.cue-editor--is-selected {
  background-color: var(--blue-900);
}
.cue-editor:focus-within {
  border-left-color: var(--color-focus);
}
.cue-editor__text-container {
  position: relative;
}
.cue-editor__textarea {
  min-height: 1rem;
  height: 1rem;
  position: relative;
  width: 100%;
  z-index: 2;
}
.cue-editor--is-bold .cue-editor__text-container {
  font-weight: bold;
}
.cue-editor--is-italics .cue-editor__text-container {
  font-style: italic;
}
.cue-editor__textarea:focus {
  box-shadow: none;
}
.cue-editor__textarea:focus::placeholder {
  color: transparent;
}
.cue-editor__footer {
  user-select: none;
  opacity: 0.5;
  pointer-events: none;
}
.cue-editor__violations {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: var(--color-warn);
}
.cue-editor__syntax-highlighter {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  color: transparent;
  line-height: 1;
  user-select: none;
  width: 100%;
  font-style: inherit;
}
.syntax--violation {
  transition: background-color 0.2s ease-in-out;
  position: relative;
  /*cursor: pointer;*/
  background-color: var(--orange-bg);
}
.modifier-key--shift .syntax--violation {
  z-index: 4;
}
.modifier-key--shift .syntax--violation:hover {
  background-color: var(--red-bg);
}
.annotation-popup {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  /*transform: translateX(-50%);*/
  color: white;
  background-color: var(--gray-600);
  width: max-content;
  max-width: 200px;
  z-index: 10;
  box-shadow: var(--on-top-bs);
  border-radius: 0.25rem;
  display: none;
}
.syntax--clear {
  pointer-events: none;
}
.annotation-popup:hover,
.syntax--violation:focus > .annotation-popup {
  display: initial;
}

:root {
  --color-warn: var(--orange-300);
}
