.cue-preview {
  grid-area: preview;
}
.cue-preview__cue {
  text-align: center;
  white-space: pre;
  background-color: var(--gray-900);
}
.cue-preview__cue--is-bold {
  font-weight: bold;
}
.cue-preview__cue--is-italics {
  font-style: italic;
}
.cue-preview__cue.justify-start {
  text-align: start;
}
.cue-preview__cue.justify-end {
  text-align: end;
}
