.landing-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
.landing-page__welcome-section {
  margin-top: 2rem;
}
.landing-page__welcome-section__title {
  font-size: 3rem;
  color: var(--color-focus);
  margin-bottom: 1rem;
}

.landing-page__transcript-section {
  margin-top: 3rem;
}

.unsupported-browser-alert {
  margin-top: 1rem;
}
.unsupported-browser-alert a {
  color: var(--blue-500);
  text-decoration: underline;
}
