.project-overview {
  max-width: 800px;
  margin: 3rem auto 0;
}
.project-overview__header {
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--gray-900);
}
.project-overview__close-button {
  cursor: pointer;
  padding: 0 1rem;
}
.project-overview__name-input {
  width: 100%;
}
.project-overview__name-input:focus {
  box-shadow: none;
  text-decoration: underline;
  text-decoration-color: var(--color-focus);
}
.project-overview__created-at {
  flex-shrink: 0;
}
