.script-editor {
  grid-area: script;
  overflow-y: hidden;
  background-color: var(--gray-800);
  padding-left: 1rem;
}
.script-editor__no-cues-message {
  margin-top: 1rem;
}
.script-editor__cue-list {
  list-style: none;
  scroll-behavior: smooth;
}
.script-editor__add-cue-between-button {
  font-weight: bold;
  padding: 0.5rem 3rem 0.5rem 0;
  color: transparent;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}
.script-editor__add-cue-between-button::before {
  content: "+";
  transition: color 0.3s ease-in-out;
  color: var(--gray-300);
  font-size: 1rem;
  padding-right: 0.5rem;
}
.script-editor__add-cue-between-button:focus::before,
.script-editor__add-cue-between-button:hover::before {
  color: var(--color-focus);
}
.script-editor__add-cue-between-button:focus,
.script-editor__add-cue-between-button:hover {
  box-shadow: none;
  color: var(--color-focus);
}
.script-editor .import-cue-area {
  margin-top: 1rem;
}
