.script-editor {
  grid-area: script;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 1rem 1rem 0;
  background-color: var(--gray-800);
}
.script-editor__cue-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.script-editor__add-cue-between-button {
  font-weight: bold;
  color: var(--color-primary);
  padding: 0.5rem 3rem 0.5rem 0;
  cursor: pointer;
}
