.selection-controls {
  grid-area: selection;
  position: relative;
  /* Ensures no resizing necessary when selection count updated*/
  min-width: 21ch;
}
.selection-controls__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selection-controls__menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  background-color: var(--gray-700);
  box-shadow: var(--on-top-bs);
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;
}
.selection-controls__menu .menu-item__button {
  padding: 0.5rem;
  width: 100%;
  text-align: start;
  transition: 0.2s ease-in-out background-color;
}
.selection-controls__menu .menu-item__button:hover {
  background-color: var(--color-lighten);
}
.selection-controls__menu .menu-item__button:focus {
  box-shadow: var(--focus-bs) inset;
}
.selection-controls__menu .menu-item__button > svg {
  margin-right: 0.5rem;
}
.selection-controls__menu .menu-item__button--danger:hover,
.selection-controls__menu .menu-item__button--danger:focus {
  background-color: var(--color-danger);
}
