.studio {
  overflow: hidden;
  display: grid;
  grid-template:
    "player script"
    "preview script" 1fr
    "toolbar toolbar"
    "timeline timeline"
    / minmax(auto, 50vw) 1fr;
  height: 100vh;
  --player-time: 0;
}
.studio--long-script {
  grid-template:
    "player script"
    "preview script" 1fr
    "toolbar script"
    "timeline script"
    / 50vw 1fr;
}
.toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-900);
}
.studio__open-drawer-button {
  z-index: 2;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--gray-700);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  --bs: 0 0.5rem 1rem 0.5rem var(--color-darken);
  box-shadow: var(--bs);
}
.studio__open-drawer-button:focus {
  box-shadow: var(--focus-bs), var(--bs);
}
.studio__open-drawer-button--open {
  transform: rotateZ(-0.5turn);
}
.studio__open-drawer-button:hover {
  transform: translateY(10%);
}
