.studio {
  overflow: hidden;
  display: grid;
  grid-template:
    "player script" 1fr
    "toolbar toolbar"
    "timeline timeline"
    / minmax(auto, 50vw) 1fr;
  height: 100vh;
  --player-time: 0;
}
.studio--long-script {
  grid-template:
    "player script" 1fr
    "toolbar script"
    "timeline script"
    / 50vw 1fr;
}
.toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-900);
}
