.timeline {
  overflow-x: scroll;
  grid-area: timeline;
  display: flex;
  --pointer-x: 0;
}

.timeline__bumper {
  background-color: var(--gray-900);
  width: 50vw;
}
.timeline__bumper,
.timeline__content {
  flex-grow: 0;
  flex-shrink: 0;
}
.timeline__content {
  position: relative;
  display: flex;
  --timeline-scale: 0.1;
  --timeline-duration: 1000;
  /* Used in calc, not expected to actual result in float < 1*/
  /*noinspection CssFloatPxLength*/
  width: calc(1px * var(--timeline-scale) * var(--timeline-duration));
}
.timeline-cue {
  --cue-start: 0;
  --cue-end: 0;
  position: absolute;
  top: 10%;
  left: calc(1px * var(--timeline-scale) * var(--cue-start));
  right: calc(100% - 1px * var(--timeline-scale) * var(--cue-end));
  background-color: var(--color-primary);
  display: flex;
  height: 2rem;
}

.timeline-cue--dragging-start {
  left: calc(1px * var(--pointer-x));
}
.timeline-cue--dragging-end {
  right: calc(100% - 1px * var(--pointer-x));
}

.timeline-cue__first-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  flex-grow: 2;
  flex-shrink: 1;
}

.timeline-cue__drag-handle {
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  background-color: var(--color-darken);
}
.timeline-cue__drag-handle:first-child {
  cursor: w-resize;
}
.timeline-cue__drag-handle:last-child {
  cursor: e-resize;
}

.timeline--is-dragging {
  cursor: grabbing;
}
.timeline--is-dragging .timeline-cue__drag-handle {
  cursor: grabbing;
}
