.timeline {
  overflow-x: scroll;
  grid-area: timeline;
  display: flex;
  --pointer-x: 0;
  --offset-x: 0;
}

.timeline__bumper {
  background-color: var(--gray-900);
  width: 200px;
  flex-shrink: 0;
}
.timeline__bumper,
.timeline__content {
  flex-grow: 0;
  flex-shrink: 0;
}
.timeline__content {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  --timeline-scale: 0.1;
  --timeline-duration: 1000;
  /* Used in calc, not expected to actual result in float < 1*/
  /*noinspection CssFloatPxLength*/
  width: calc(1px * var(--timeline-scale) * var(--timeline-duration));
  padding-bottom: 1rem;
}
.timeline__layer {
  position: relative;
  min-height: 4rem;
}
.timeline__layer:nth-child(even) {
  background-color: var(--color-lighten);
}
.timeline-cue {
  --cue-start: 0;
  --cue-end: 0;
  --cue-duration: 0;
  position: absolute;
  margin: 1rem 0;
  left: calc(1px * var(--timeline-scale) * var(--cue-start));
  right: calc(100% - 1px * var(--timeline-scale) * var(--cue-end));
  background-color: var(--color-primary);
  display: flex;
  height: 2rem;
  min-width: 2rem;
}

.timeline-cue--dragging-start {
  left: calc(1px * var(--pointer-x));
}
.timeline-cue--dragging-end {
  right: calc(100% - 1px * var(--pointer-x));
}
.timeline-cue--dragging-both {
  right: unset;
  width: calc(1px * var(--timeline-scale) * var(--cue-duration));
  left: calc(1px * var(--pointer-x) - 1px * var(--offset-x));
}

.timeline-cue__body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: move;
  flex-grow: 2;
  flex-shrink: 1;
  text-align: center;
  display: flex;
  align-items: center;
  user-select: none;
  /*noinspection CssUnknownProperty*/
  user-drag: none;
  -webkit-user-drag: none !important;
}

.timeline-cue__drag-handle {
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  background-color: var(--color-darken);
}
.timeline-cue__drag-handle:first-child {
  cursor: w-resize;
}
.timeline-cue__drag-handle:last-child {
  cursor: e-resize;
}

.timeline--is-dragging,
.timeline--is-dragging .timeline-cue__drag-handle,
.timeline--is-dragging .timeline-cue__body {
  cursor: grabbing;
}

.play-head {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.25rem;
  background-color: var(--yellow-400);
  left: 0;
  transform: translateX(0.125rem)
    translateX(calc(1px * var(--timeline-scale) * var(--player-time)));
  pointer-events: none;
}
