.timeline-tool-selector {
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
}

.timeline-tool-selector__label {
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.timeline-tool-selector__label:focus-within {
  box-shadow: var(--focus-bs) inset;
}
.timeline-tool-selector__label--selected {
  background-color: var(--gray-600);
}
.timeline-tool-selector__label > input {
  width: 0;
  height: 0;
}
.timeline-tool-selector__label > input:focus {
  box-shadow: none;
}
