.timeline-cue {
  --cue-start: 0;
  --cue-end: 0;
  --cue-duration: 0;
  position: absolute;
  margin: 1rem 0;
  left: calc(1px * var(--timeline-scale) * var(--cue-start));
  right: calc(100% - 1px * var(--timeline-scale) * var(--cue-end));
  background-color: var(--blue-900);
  display: flex;
  height: 2rem;
  /*noinspection CssOverwrittenProperties*/
  min-width: 2rem;
  /*noinspection CssOverwrittenProperties*/
  min-width: max(2rem, calc(250px * var(--timeline-scale)));
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: transform, filter, background-color;
  transition-delay: 0.1s;
  opacity: 0.85;
}
.timeline-cue--is-selected {
  background-color: var(--blue-500);
}
.timeline-cue--is-bold {
  font-weight: bold;
}
.timeline-cue--is-italics {
  font-style: italic;
}
.timeline-cue--dragging {
  z-index: 3;
  transform: translateY(-0.5rem);
  filter: drop-shadow(0 0 0.5rem var(--gray-900));
  transition-delay: 0s;
}
.timeline-cue--dragging-start {
  left: calc(1px * var(--pointer-x));
}
.timeline--snap-to-grid .timeline-cue--dragging-start {
  left: calc(1px * var(--pointer-x-grid));
}
.timeline-cue--dragging-end {
  right: calc(100% - 1px * var(--pointer-x));
}
.timeline--snap-to-grid .timeline-cue--dragging-end {
  right: calc(100% - 1px * var(--pointer-x-grid));
}
.timeline-cue--dragging-both {
  right: unset;
  width: calc(1px * var(--timeline-scale) * var(--cue-duration));
  left: calc(1px * var(--pointer-x) - 1px * var(--offset-x));
}

.timeline--snap-to-grid .timeline-cue--dragging-both {
  left: calc(1px * var(--pointer-x-grid-offset));
}

.timeline-cue__body {
  cursor: move;
  flex-grow: 2;
  flex-shrink: 1;
  text-align: start;
  user-select: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  /*noinspection CssUnknownProperty*/
  user-drag: none;
  -webkit-user-drag: none !important;
}
.timeline-cue__body__text {
  flex-grow: 2;
}
.timeline-cue__body * {
  pointer-events: none;
}
.timeline-cue__drag-handle {
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  opacity: 0.5;
  cursor: ew-resize;
}
.timeline-cue__drag-handle > svg {
  pointer-events: none;
}
