.top-drawer {
  position: absolute;
  background-color: var(--gray-700);
  top: 0;
  left: 0;
  right: 0;
  /*height: 300px;*/
  overflow: auto;
  animation: top-drawer__slide-in 0.5s ease forwards 1;
  padding: 1rem 2rem;
}
@keyframes top-drawer__slide-in {
  from {
    transform: translateY(-100%);
  }
}
.top-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171923f0;
  backdrop-filter: blur(3px);
  animation: top-drawer__fade-in 0.5s ease-in-out forwards 1;
}
@keyframes top-drawer__fade-in {
  from {
    background-color: transparent;
    filter: blur(0px);
  }
}

.top-drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-drawer__date {
  display: block;
}
.top-drawer .file-drop-target {
  margin-top: 2rem;
}
