* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #1d1e22;
  color: white;
  min-height: 100vh;
}
:root {
  /*Named Colours*/
  --color-crimson: crimson;
  --color-blue: dodgerblue;
  /*Semantic Colours*/
  --color-primary: var(--color-crimson);
  --color-focus: var(--color-blue);
}
button {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: currentColor;
}
